* {
    font-family: 'Poppins';
  }
body {
    background-image: url('/01784fb2-e758-4ed7-ad0b-1bd195549471.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
    height: 100vh;           
    
  }