
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="=width=device-width,initial-scale=1.0">
        <title>Admin Booking History</title>
      

    </head>
    <body>
        
        <div class="container">
            <h2>view user booking History</h2>
            <label for="userID">Enter User ID </label>
            <input type="text" id="userId" [(ngModel)]="userId" placeholder="Enter User ID">
            <div class="button-container"></div>
            <button (click)="goToHistory()">Submit</button>            
        </div>
       
        
    </body>
</html>