<h1 class="text-primary text-center fw-bold mb-3">Sparkle Inn</h1>
<h4 class="mb-3 text-center text-danger"><i>"Where Luxury Meets Comfort!"</i></h4>

<div class="container card-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 d-flex justify-content-end">
      <div class="card p-4 action-card text-center">
        <img src="/Illus2.jpg" alt="Login Illustration" class="img-fluid mx-auto d-block" style="width: 200px;" />



        <p>Sparkle mode: Activated. Log in to shine💫!</p>
        <button (click)="goToLogin()" class="btn btn-warning w-100 mt-3">Login</button>
      </div>
    </div>

    <div class="col-md-1 d-flex justify-content-center">
      <div class="vertical-line"></div>
    </div>


    <div class="col-md-5 d-flex justify-content-start">
      <div class="card p-4 action-card text-center" >
        <img src="/Illus3.jpg" alt="Login Illustration" class="img-fluid mx-auto d-block" style="width: 200px;" />
        <p> 🍭Sweet! You’re new. Tap here to sign up!</p>
        <button (click)="goToSignup()" class="btn btn-primary w-100 mt-3">Register</button>
      </div>
    </div>
  </div>
</div>
